<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>🏆 Leaderboard</h2>
    <table>
    <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Score</th>
    </tr>

    {% for r in records %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ r[0] }}</td>
        <td>{{ r[1] }}</td>
    </tr>
    {% endfor %}
</table>


   

    <a href="/">⬅ Back to Home</a>
</div>

</body>
</html>
